!!!strict
html(xmlns="http://www.w3.org/1999/xhtml", lang="en")
	head
		//- meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		- var title = input['http://magnode.org/DocumentTitle'] || (input.node&&(input.node.label||input.node.title))
		title #{title?(title+' - '):''}#{input.title||'Magnode'}
		- for(var n in scripts)
			script(type=scripts[n].type,src=scripts[n].src)
		- for(var n in stylesheets)
			link(rel="stylesheet",href=stylesheets[n].src)
	body

		nav.top-bar
			ul.title-area
				// Title Area
				li.name
					h1
						a( href="/", title="Visit the main page") #{input.title||'BotBlocks'}
				li.toggle-topbar.menu-icon
					a(href='#')
						span menu
			section.top-bar-section
				ul.left
					li.divider
					li.has-dropdown
						a(href='#') New
						ul.dropdown
							li
								a(href='/bb:Script?new') Script
							li
								a(href='/bb:Interface?new') Interface
					li.divider
					li
						a#btn-save(href='#') Save
					li.divider
					li.has-dropdown
						a(href='#') Run
						ul.dropdown
							li
								a(href='#') Run
							li
								a(href='#') Debug
				ul.right
					li.divider
					li.has-dropdown
						a(href='#') Formats
						ul.dropdown
							li.divider
							li
								div!=input["http://magnode.org/HTMLBodyBlock_ResourceMenu"]
					li.divider
					li.has-dropdown
						a(href='#') User
						ul.dropdown
							li.divider
							li
								div!=input["http://magnode.org/HTMLBodyBlock_UserMenu"]
		form.form-script-editor
			textarea.field-ecmascript=(input["http://botblocks.net/Script"].body||'');
			div=JSON.stringify(input["http://botblocks.net/Script"])
			pre.output
		.row
			.foot
				//pre=util.inspect(input)
				div(style="margin:10px 0;")
					hr
					div.grid_12
						//- div.footer(style="float:right;") <img src="/public-domain.png"/>
						div.footer <a href="http://magnode.org/" style="color:#ddf;">Magnode</a>
						div!=input["http://magnode.org/theme/twentyonetwelve/HTMLBodyRegion_Footer"]
					div.clear
